@import "media.css";

section.search {
    background: url(images/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 3%;
    opacity: 0.9px;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    z-index: 1;
    padding: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: red;
}

h3 {
    color: ;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 300;
    background-color: white;
    text-shadow: 1px 1px 1px #eaeaea;
    text-align: right;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 5px 20px;
    background: #fafafa;
    box-shadow: 0 0 15px #eaeaea;
    display: block;
}

.background {
    background: url("images/background.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-size: cover; 
    position: absolute;
    left: 0px; 
    bottom: 0px;  
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    z-index: -1;
    opacity: 0.8; 

}

header, footer {
    font-size: 20px;
    color: #fff;
}
.howTo {
    color: #fff;
    margin: 0 auto; 
    margin: 0 0px 20px 100px;
    font-size: 75px;
    text-shadow: 3px 3px black;
}


h2 {
    margin: 15px 50px;
    color: #fff
}

.js-search-form {
    margin: 0 50px;
}

img {
  margin-right: 15px;
}

.videoTitle {
  color: ghostwhite;
  font-size: 16px;
  text-decoration: none;
  padding-top: 5px;  
}

a:link {
  
    text-decoration: none;   
}

a:visited {
    color:#B8336A;
}

::placeholder {
    color: ghostwhite;
    justify-content: center;
    font-size: 32px;
    padding-left: 10 px;
}

.js-query {
    border: none;
    border-bottom: 3px solid ghostwhite;
    color: rgb(41, 223, 24);
    font-size: 45px;
    background: none;
    width: 100%;
}

.submit:hover {
    background: rgb(41, 223, 24);
}

.submit {
    border: 1px solid ghostwhite;
    padding: 10px 30px;
    color: ghostwhite;
    font-size: 45px;
    font-weight: 400;
    /* letter-spacing: 2px; */
    background: rgba(255, 255, 255, 0.25);
    transition: color 0.25s linear;
    text-shadow: 0 0 3px #555555;
    position: relative;
    left: -3px;
    border-radius: 0;
    margin-top: 10px;
}

/*Results Page*/

.tabContainer, .videoContainer {
    background-color: #fff;
    border: 1px solid black;
    padding: 100px;
}

.tabContainer {
    margin-top: 500px;
    margin-bottom: 50px;
}

a:hover {
    color: rgb(41, 223, 24);

}