@import "media.css";

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /*background-color: #78aff4;*/
}

h2 {
    color: red;
}

h3 {
    color: ;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 300;
    background-color: white;
    text-shadow: 1px 1px 1px #eaeaea;
    text-align: right;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 5px 20px;
    background: #fafafa;
    box-shadow: 0 0 15px #eaeaea;
    display: block;
}

.background {
    background: url("images/background.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-size: cover; 
    position: absolute;
    left: 0px; 
    bottom: 0px;  
    top: 0px; 
    right: 0px; 
    bottom: 0px; 
    z-index: -1;
    opacity: 0.3; 

}

header, footer {
    font-size: 20px;
    color: #fff;
}
.howTo {
    color: #fff;
    margin: 0 auto; 
    margin: 200px 0px 20px 100px;
}

main {
    margin-top: 50px;
}

h2 {
    margin: 15px 50px;
    color: #fff
}

.js-search-form {
    margin: 0 50px;
}

img {
  margin-right: 15px;
}

.videoTitle {
  font-size: 12px;
  text-decoration: none;  
}

a:link {
  
    text-decoration: none;   
}

a:visited {
    color:#B8336A;
}

::placeholder {
    color: #78aff4;
    justify-content: center;
    font-size: 16px;
    padding-left: 10 px;
}

.js-query {
    border: none;
    border-bottom: 3px solid ghostwhite;
    border-radius: 5px;
    padding: 8px 0;
    width: 50em;
    margin-bottom: 10px;
}

/* .submit {
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background: #78aff4;
    width: 39em;
}
*/
.submit:hover {
    background: rgb(41, 223, 24);
}

.submit {
    border: 3px solid ghostwhite;
    padding: 8px 13px;
    color: ghostwhite;
    font-size: 45px;
    font-weight: 400;
    /* letter-spacing: 2px; */
    background: rgba(255, 255, 255, 0.25);
    transition: color 0.25s linear;
    text-shadow: 0 0 3px #555555;
    position: relative;
    left: -3px;
    border-radius: 0;
}
}

/*Results Page*/

.tabContainer, .videoContainer {
    background-color: #fff;
    border: 1px solid black;
    padding: 100px;
}

.tabContainer {
    margin-top: 500px;
    margin-bottom: 50px;
}

.videoTitle {
    color: ghostwhite;
}