@media only screen and (max-width: 700px) {
}

@media only screen and (min-width: 700px) { 
    .search-results {
        padding: 10px;
        display: flex; 
        border-radius: 5px;
        background-color: white;
        /*padding: 0 25px;
        margin: 35px;
        width: 15%;*/
        /* justify-content: center; */
    }
    
    .youTube_search_results, .stackOverflow_seach_results {
        border: 2px solid black;
        border-radius: 4px;
        padding-left: 1px;
        flex: 50%;
        padding: 15px;
        margin: 10px 15px;
        background-color: lightgrey;
        box-shadow: -5px -3px 8px #777777;
    }

    .stackOverflow-answer {
        margin-bottom: 10px;
    }
}